body {
    font-family: Arial, sans-serif;
    background-color: #dacccc;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(66, 131, 93, 0.7);
  }


  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
  }

  
  .card strong {
    color: #007bff;
  }
  
  .card p {
    margin: 0;
  }
  







  
  
  .card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .card strong {
    color: #007bff;
  }
  
  .card:last-child {
    margin-bottom: 0;
  }
  